@model IEnumerable<GUI_Hotel.Models.DataModels.Booking>

@{
    ViewData["Title"] = "Index";
}

<h1>Bookings for today</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table"  style="font-size:1.5vw">
    <thead>
        <tr>
            <th>
                <strong>
                    Booking Date
                </strong>
              
            </th>
            <th>
                <strong>
                    Room No.
                </strong>
          
            </th>

            <th>
                <strong>
                    Adults Checked in
                </strong>
            </th>

            <th>
                <strong>
                    Children Checked in
                </strong>
            </th>
            <th>
                <strong>
                    Adults booked
                </strong>
            </th>

            <th>
                <strong>
                    Children booked
                </strong>
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingDate)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.RoomNumber)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.AdultsCheckedIn)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ChildrenCheckedIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdultsBooked)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ChildrenBooked)
            </td>
            <td  style="display:flex;">
                <a class="data-btn btn btn-primary"  asp-action="Edit" asp-route-id="@item.BookingId">Edit</a> 
                <a class="data-btn btn btn-primary" asp-action="Details" asp-route-id="@item.BookingId">Details</a>
                <!--<a asp-action="Delete" asp-route-id="@item.BookingId">Delete</a>-->
            </td>
        </tr>
}
    </tbody>
</table>
