@model IEnumerable<GUI_Hotel.Models.DataModels.Booking>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomNumber)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.AdultsCheckedIn)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ChildrenCheckedIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdultsBooked)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ChildrenBooked)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingDate)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.RoomNumber)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.AdultsCheckedIn)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ChildrenCheckedIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdultsBooked)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ChildrenBooked)
            </td>
            <td>
                <a class="data-btn" asp-action="Edit" asp-route-id="@item.BookingId">Edit</a> |
                <a class="data-btn" asp-action="Details" asp-route-id="@item.BookingId">Details</a> |
                <!--<a asp-action="Delete" asp-route-id="@item.BookingId">Delete</a>-->
            </td>
        </tr>
}
    </tbody>
</table>
