@model GUI_Hotel.ViewModel.KitchenViewModel

@{ ViewData["Title"] = "Find"; }



<div class="container">
    <div class="row">
        <div class="col-sm" align="center">
            <form asp-action="Find" method="post">
                <input type="hidden" asp-for="Date" />
                <input type="submit" value="Refresh" class="btn btn-primary" />
            </form>
        </div>
        <div class="col-sm" align="center">
            <form asp-action="Index" method="post">
                <input type="submit" value="Back" class="btn btn-secondary" />
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm" align="center">
            <span class="text-nowrap">
                <strong>
                    Date
                </strong>
            </span>
            <p>@Model.Date.ToShortDateString()</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm" align="center">
            <span class="text-nowrap">
                <strong>
                    Checked In Adults
                </strong>
            </span>
            <p>@Model.CheckedInAdults</p>
        </div>
        <div class="col-sm" align="center">
            <span class="text-nowrap">
                <strong>
                    Checked In Children
                </strong>
            </span>
            <p>@Model.CheckedInChildren</p>
        </div>
        <div class="col-sm" align="center">
            <span class="text-nowrap">
                <strong>
                    Expected Guests
                </strong>
            </span>
            <p>@Model.ExpectedGuests</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm" align="center">
            <span class="text-nowrap">
                <strong>
                    Total guests not checked in
                </strong>
            </span>
            <p>@Model.GuestsNotCheckedIn</p>
        </div>
        <div class="col-sm" align="center">
            <span class="text-nowrap">
                <strong>
                    Adults not checked in
                </strong>
            </span>
            <p>@Model.AdultsNotCheckedIn</p>
        </div>
        <div class="col-sm" align="center">
            <span class="text-nowrap">
                <strong>
                    Children not checked in
                </strong>
            </span>
            <p>@Model.ChildrenNotCheckedIn</p>
        </div>
    </div>
</div>